/admin/node_modules
/CapstoneBackend/node_modules
/CapstoneFrontend/node_modules

/admin/.env
/CapstoneBackend/.env
/CapstoneFrontend/.env

/CapstoneBackend/package-lock.json
/CapstoneFrontend/package-lock.json
/admin/package-lock.json
admin/package-lock.json
CapstoneFrontend/package-lock.json
